/* Importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Configuracion para escritorio */
@media (min-width: 1024px) {

    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    
}

/* Configuracion fondo de pantalla para movil */
body{
    background-image: url(https://www.fabricsandpapers.com/media/catalog/product/cache/bc51c235dc45486e94882235a0bd146b/h/e/hearts-wallpaper-pink.jpg);
    background-attachment: fixed;
    background-position: center;
    
}

#title{
    margin-top: 100px;
}

/* Fuente para titulos */
.title-font{
    font-family: "Monsieur La Doulaise", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
  }

/* Fuente principal */

.main-font {
    font-family: "Corinthia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#excepcion{
    font-family: "Corinthia", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Fuente sorpresa */
.surprise-font {
    color: white;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  #patricia{
    margin-top: 100px;
    border: 1px solid #262626;
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    background-color: #262626;

}

#patricia img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

#patricia button{
    margin: 20px;
}


.bocadillo{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.bocadillo p{
    color: black;
}

